.logo{
    margin: 100px 0px 70px 14px;
    float: left;
    margin: 0px 10px 0px 10px ;
}
.teachersButton{
    float: left;
    margin: 0px 10px 0px 0px ;
}
.studensButton{
    margin: 0px 0px 0px 10px ;
}
.HomeButton{
    float: left;
    margin: 0px 10px 0px 10px ;
}
.navButtons{
    margin: 20px 0px 0px 0px ;
    background-color: aliceblue;
    border-radius: 30px;
    
}
