<div class="createButton">
    <button type="button" routerLink="/students/create" class="btn btn-primary">Create a student</button>
  </div>

<div class="container">
  
  <table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">EMAIL</th>
        <th scope="col">NAME</th>
        <th scope="col">AdminStuff</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.id }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.name }}</td>
        <td>
            <button type="button" class="btn btn-success" routerLink="/students/{{student.id}}">Edit</button>
            <button type="button" class="btn btn-danger" (click)="deleteStudent()">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>